<?xml version="1.0" encoding="UTF-8"?>


<Context reloadable="true" privileged="true">

    <WatchedResource>WEB-INF/web.xml</WatchedResource>

<Resource name="seletivoseplag" auth="Container" 
		type="javax.sql.DataSource" 
		maxTotal="100" maxIdle="30" 
		maxWaitMillis="10000" 
		username="postgres" password="123456" 
		driverClassName="org.postgresql.Driver" 
		url="jdbc:postgresql://postgres:5432/dbseletivo"/> 

</Context>
